
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <title>Paginator</title>
    <link rel="stylesheet" href="{% static 'pagi.css' %}">
</head>
<body>

    <div class="pagination">
        <div class="question_text">
            <p>{{question_text}}</p>
            {% for obj in page_obj%}
                <p>{{ obj.text_choice}} - {{obj.votes}}</p>
            {% endfor %}
        </div>
    
        <div class="">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</body>
</html>