
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%load static%}
    <link rel="icon" href="{% static 'fav.ico' %}" />
    <link rel="stylesheet" href="{% static 'blog.css' %}">
    <title>BLOG</title>
</head>
<body>

    {% if user.is_authenticated %}
        <div class="df">
            <h1>Welcome, {{ user.username }}!</h1>
            <form method="post" action="{% url 'blog:logout'%}">
                {% csrf_token %}
                <button type="submit">Logout</button>
            </form>
            <p><a href="{% url 'blog:password_change'%}">Change password</a></p>
            <h3>All posts</h3>
        </div>
        <p><a href="{%url 'blog:postForm'%}">Write your posts</a></p>
       
    

    <div class="cards">
        {%for p in posts%}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{p.title}}</h5>
                    <p class="card-text">{{p.content|truncatewords:30}}</p>
                    <a href="{% url 'blog:post' p.author.user.username p.title %}" class="btn btn-primary">Посмотреть информацию о посте</a> <br><br>
                    <a href="{% url 'blog:user' p.author.user.username %}">{{p.author.user.username}} info</a>
                    <p>Was published {{p.created_time|date:"d.m.Y"}}</p>
                    <p><a href="{% url 'blog:postComment' p.author.user.username p.title%}">See all comments</a></p>
                </div>
            </div>
        {%endfor%}
    </div>
    <div class="">
    </div>

    {% else %}
        <div class="df">
            <h1>Welcome to the Blog!</h1>
            <form method="post" action="{% url 'blog:login'%}">
                {% csrf_token %}
                <button type="submit">Login</button>
            </form>
            <h3>The Last 5 posts</h3>
            <p><a href="{%url 'blog:login'%}">View all posts</a></p>
        </div>
        <p><a href="{%url 'blog:login'%}">Write your posts</a></p>

        <div class="cards">
            {%for p in rever_posts%}
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{p.title}}</h5>
                        <p class="card-text">{{p.content|truncatewords:30}}</p>
                        <a href="{% url 'blog:post' p.author.user.username p.title %}" class="btn btn-primary">Посмотреть информацию о посте</a> <br><br>
                        <a href="{% url 'blog:user' p.author.user.username %}">{{p.author.user.username}} info</a>
                        <p>Was published {{p.created_time|date:"d.m.Y"}}</p>
                        <p><a href="{% url 'blog:postComment' p.author.user.username p.title%}">See all comments</a></p>
                    </div>
                </div>
            {%endfor%}
        </div>
    {% endif %}
    <footer>
        <p>© All rights reserved.</p>
    </footer>
</body>
</html>



