<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post info</title>
</head>
<body>
    {% extends "base.html" %}

    {% block title %}
        <title>{{ post.title }}</title>
    {% endblock %}

    {% block content %}
    <a href="{% url 'index'%}">Home</a>
        <div class="cards">
            <h1>{{post.title}}</h1>
            <p>{{post.content}}</p>
            <p>Was published {{post.created_time|date:"d.m.Y"}}</p>
            <a href="{% url 'user' post.author.user.username %}">{{post.author.user.username}}</a>
        </div>

        <a href="{% url 'postComment' post.author.user.username post.title%}">See comments</a>
    {% endblock %}
    

</body>
</html>