{%extends 'polls/parent.html' %}
{% block title %}Question List{% endblock %}

{% block content %}
<div class="quess">
            {% for q in questions %}
                <div class="ques">
                    <h3>{{q}}</h3>
                    <p>{{q.date_time}}</p>
                    <p>{{q.date_time|date:"d:m:Y H:i:s"}}</p>
                    <p>Number of answers = {{q.choice_set.all.count }}</p>
                    {%if q.choice_set.all.count%}
                        <a href="{%url 'polls:detail' q.id%}">See all answers</a>
                    {%else%}
                    <a href="{%url 'polls:choice-create'%}">Write answer</a>
                        
                    {%endif%}
                </div>
            {% endfor %}
        
    </div>
{%endblock%}


